/* Basic styles */

@import url(components/login.css);

body {
    background-color: black !important;

    min-width: 1000px !important;
}
.row {
    margin: 1em 0 0 0;
}
.box {
    background-color: rgb(20, 20, 25);
    border: 1px solid rgb(55, 55, 55);
}

.box-15 {
    height: 15%;
}
.box-25 {
    height: 25%;
}
.box-50 {
    height: 45%;
}
.box-100 {
    height: 100%;
}
#main {
    height: calc(100vh - 100px);
}
hr {
    width: 95%;
}
.all-main-info {
    text-align: left;
    padding: 0.5em 0 0 0.5em;
    color: white;
}
.all-small-info {
    font-size: 1em;
    color: rgb(150, 150, 150);
}
/* Specifics */
#alerts {
    margin: 0.5em 0 0.5em 0;
    background-color: rgba(220, 0, 0, 0.5);
    color: rgb(255, 0, 0);
    font-weight: bold;
    border-top: 1px solid rgba(255, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    padding: 0.25em 0 0.25em 0;
}
#updates {
    margin: 0.5em 0 0.5em 0;
    background-color: rgba(0, 120, 0, 0.5);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-top: 1px solid rgba(0, 120, 0, 0.5);
    border-bottom: 1px solid rgba(0, 120, 0, 0.5);
    padding: 0.25em 0 0.25em 0;
}
#updateText {
    margin: 0.5em 0 0.5em 0;
    background-color: rgb(70, 200, 70);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-top: 1px solid rgba(0, 120, 0, 0.5);
    border-bottom: 1px solid rgba(0, 120, 0, 0.5);
    padding: 0.25em 0 0.25em 0;
}

#time {
    font-size: 2.5em;
    font-weight: bold;
}
#weather {
    font-size: 2.5em;
    font-weight: bold;
}
#menu {
    font-size: 2.5em;
    font-weight: bold;
}
#announcements {
    font-size: 2.5em;
    font-weight: bold;
}
#events {
    font-size: 2.5em;
    font-weight: bold;
}
.box .eventBox {
    border: 1px solid rgb(75, 75, 75);
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.2em;
}
.eventTitle {
    font-weight: bold;
    color: white;
    font-size: 1.1em;
}

/* Admin Page Specifics */
#left-admin-panel {
    border-right: 1px solid rgb(140, 140, 140);
    border-top: 1px solid rgb(0, 0, 0);
}
#left-admin-panel .box:hover {
    background-color: rgb(40, 40, 45);
    cursor: pointer;
}
#adminUserName {
    font-size: 1.5em;
}
.numbersFix {
    font-size: 2.5em;
    font-weight: bold;
}
#adminMain {
    height: 70vh;
}
.adminHR {
    width: 100%;
}